body {
  margin: 0;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card-container {
  border-style: solid;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: 1%;
}
.card-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-over {
  color:red;
}