body {
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card-container {
  border-style: solid;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: 1%;
}
.card-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}