body {
  margin: 0;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;

}

.card-container {
  border-style: solid;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: 1%;
}
.card-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

nav {
  top:0;
  position: fixed;
  text-align: center;
  width: 100%;
  border: #004d7a;
  border-style: solid;
  margin: auto;
  color: white;
  background-color: #051937;
  margin-bottom: 500px;
}
.game-over {
  color:red;
}